.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  margin-top: 50px;
}

.contentWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.analytics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1424px;
  margin: 0 auto;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #433d35;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.row:first-child {
  background: black;
}

.row:first-child .column {
  font-weight: bold;
}

.column {
  color: white;
}

.charts {
  flex: 1;
  display: flex;
  justify-content: center;
}

