.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 15px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  opacity: .8;
}

