.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-top: 50px;
  margin-bottom: 15px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  opacity: 0.8;
}

.searchTitle {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 1.5rem;

}

.gridContainer {
  padding-top: 50px;
}

.submitContainer {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 160px;
  height: 40px;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1424px;
  margin: 0 auto;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.charts {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


